In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv(r"Updated.csv")
df.head()

   label                                           sub_mssg
0      0  job post apple research center content length ...
1      0  query letter for text identification I be post...
2      0  risk a colleague and I be the of risk by our h...
3      0  request book information this morning I be on ...
4      0  call for in syntactic theory content length ca...

In [31]:
df = df[df.label==1]
df.head()

    label                                           sub_mssg
19      1  free this be a part message in mime format con...
36      1  the success toolbox note we do not wish to sen...
81      1  free stealth bulk just plus free stealth bulk ...
82      1  need more money hi would you like to earn an e...
83      1  cable now only money this be really cool premi...

In [60]:
df['sub_mssg'].str.contains("lifetime").any()

True

In [61]:
df.to_csv("spam info.csv",index=False)